[submodule "FNA"]
	path = FNA
	url = https://github.com/CompletelyFairGames/FNA
	branch = dwarfcorp-master
[submodule "gemgui"]
	path = gemgui
	url = https://github.com/Blecki/gemgui
[submodule "DwarfCorp/DwarfCorpXNA/Facepunch.Steamworks"]
	path = DwarfCorp/DwarfCorpXNA/Facepunch.Steamworks
	url = https://github.com/Facepunch/Facepunch.Steamworks.git
