<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DwarfCorp.ControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DwarfCorp.PlayerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DwarfCorp.AssetSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DwarfCorp.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DwarfCorp.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DwarfCorp.ControlSettings>
            <setting name="Forward" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Back" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="CameraMode" serializeAs="String">
                <value>LeftShift</value>
            </setting>
            <setting name="GodMode" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="TimeForward" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="TimeBackward" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="SliceUp" serializeAs="String">
                <value>PageUp</value>
            </setting>
            <setting name="SliceDown" serializeAs="String">
                <value>PageDown</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="OrderScreen" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="Map" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="SliceSelected" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="SliceSelectedUp" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="ToggleGUI" serializeAs="String">
                <value>B</value>
            </setting>
        </DwarfCorp.ControlSettings>
        <DwarfCorp.PlayerSettings>
            <setting name="CompanyLogo" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="CompanyMotto" serializeAs="String">
                <value>My Beard is In the Work!</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Greybeard &amp; Sons</value>
            </setting>
        </DwarfCorp.PlayerSettings>
        <DwarfCorp.AssetSettings>
            <setting name="TileSet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="DwarfSheet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="InteriorSheet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="GUISheet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="GoblinSheet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="IconSheet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="DwarfSheet_tilewidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="DwarfSheet_tileHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TileSet_tileWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="TileSet_tileHeight" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="InteriorSheet_tileWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="InteriorSheet_tileHeight" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="GoblinSheet_tileWidth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="GoblinSheet_tileHeight" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ResourceSheet" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ResourceSheet_tileWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ResourceSheet_tileHeight" serializeAs="String">
                <value>32</value>
            </setting>
        </DwarfCorp.AssetSettings>
        <DwarfCorp.GameSettings>
            <setting name="Resolution" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="ChunkDrawDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VertexCullDistance" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MaxChunks" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ChunkUnloadDistance" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ChunkGenerateDistance" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ChunkGenerateTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ChunkRebuildTime" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="VisibilityUpdateTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableGlow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiAliasing" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawDebugData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawSkyReflected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawChunksReflected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawEntityReflected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawSkyRefrated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawChunksRefracted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawEntityRefracted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalculateSunlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmbientOcclusion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalculateRamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CameraScrollSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CameraZoomSpeed" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="EnableEdgeScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChunkWidth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="ChunkHeight" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="WorldWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WorldHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WorldScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DisplayIntro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MasterVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SoundEffectVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="CursorLightEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntityLighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelfIlluminationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParticlePhysics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrassMotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumMotes" serializeAs="String">
                <value>1</value>
            </setting>
        </DwarfCorp.GameSettings>
        <DwarfCorp.Default>
            <setting name="Resolution" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="ChunkDrawDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VertexCullDistance" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MaxChunks" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ChunkUnloadDistance" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ChunkGenerateDistance" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ChunkGenerateTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ChunkRebuildTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VisibilityUpdateTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableGlow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiAliasing" serializeAs="String">
                <value>16</value>
            </setting>
        </DwarfCorp.Default>
    </userSettings>
</configuration>